p{

display: flex;
font-size: 21px;
padding-left: 35px;
padding-right: 35px;
}
.heading{
 margin: 0 auto;
 padding: 30px;
 font-size: 35px;
}
h3{
font-size: 25px;
padding-left: 32px;
}
h4{
font-size: 20px;
padding-left: 32px;
}
